<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="MESWebSoap" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://10.6.133.245/MESCall/MESWeb.asmx" binding="basicHttpBinding"
                bindingConfiguration="MESWebSoap" contract="ServiceReference1.MESWebSoap"
                name="MESWebSoap" />
        </client>
    </system.serviceModel>
</configuration>